<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.preventapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_linkiar"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_linkiar"
        android:supportsRtl="true"
        android:theme="@style/Theme.Preventapp">
        <activity
            android:name=".View.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Preventapp.NoActionBar"/>

        <activity
            android:name=".firebase.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".firebase.LogOut"
            android:exported="false" />
    </application>

</manifest>